In [ ]:
SELECT 
    tipus AS Szállástípus, 
    hely AS Hely, 
    ROUND(AVG(csillagok_szama), 2) AS 'Átlagos Csillagszám'
FROM 
    szallashely
WHERE 
    szallas_nev NOT LIKE '%-%'
GROUP BY 
    tipus, hely;

In [ ]:
SELECT 
    foglalas.szoba_fk AS 'SzobaID', 
    foglalas.FOGLALAS_PK AS 'FoglalásID', 
    DATEDIFF(day, foglalas.METTOL, foglalas.MEDDIG) AS Idotartam,
    CASE 
        WHEN lag(foglalas.MEDDIG) OVER (PARTITION BY foglalas.szoba_fk ORDER BY foglalas.MEDDIG) IS NULL THEN 0
        ELSE DATEDIFF(day, lag(foglalas.MEDDIG) OVER (PARTITION BY foglalas.szoba_fk ORDER BY foglalas.MEDDIG), foglalas.METTOL)
    END AS ElőzőIdőtartam
FROM 
    foglalas;

In [ ]:

SELECT SZALLAS_ID, SZALLAS_NEV, csillagok_szama,

IIF(csillagok_szama >= 3, 'Igen', 'Nem') AS 'Legalább 3 csillagos_e' 



FROM Szallashely 

WHERE SZALLAS_ID IN
( 

SELECT  
szallas_fk

FROM Szoba 

WHERE ferohely <> 3


)